<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>식재료 가격 정보</title>
</head>
<body>
    <h1>이번 주 주요 품목 소비자가격</h1>
    <table>
        <thead>
            <tr>
                <th>품목명</th>
                <th>품종</th>
                <th>등급</th>
                <th>단위</th>
                <th>가격</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.itemname}"></td>
                <td th:text="${item.kindname}"></td>
                <td th:text="${item.rank}"></td>
                <td th:text="${item.unit}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.regday}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
